<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/register" method="post">
    <p>userName <br><input type="text" name="userName"></p>
    <p>userPassword <br><input type="password" name="userPassword"></p>
    <p>e-Mail <br><input type="email" name="eMail"></p>
    <p> <input type="submit"></p>

</form>

</body>
</html>