
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>House Up</h1>

<form action="/updateHouse" method="post">
    <input type="text" name="id" placeholder="Enter your id">
    <p></p>
    <input type="text" name="square" placeholder="Enter new square">
    <p></p>
    <input type="text" name="city" placeholder="Enter new city">
    <p></p>
    <input type="text" name="price" placeholder="Enter new price">
    <p></p>
    <input type="submit" name="submit">
</form>


</body>
</html>